.t-gra-list{
	color:#bbbbbb;
}
.f-btn-list1
{
	background-image:url('myImg/f-btn-01.png');
}
.f-btn-list2
{
	background-image:url('myImg/f-btn-02.png');
}
.t-btn-a5
{
	background-image:url('myImg/t-btn5.png');
}